<!-- Display user profile info -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-bold text-muted"><strong>Hello {{username}}</strong></h1>
    <p class="lead fw-normal text-muted"> Welcome to PicMe! </p>
    <a class="btn btn-link text-light fw-bold" style="background-color: #3377FF" href='/dashboard'><i class="fas fa-clone left"></i> View Creation Dashboard</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>