<!-- User is taken to their dashboard on login -->


<!-- This is the Display of the User's Public Profile-->
                    {{>user-profilecard}}


<!-- Display for posts on User's Dashboard -->

<section class="masthead row container-fluid " style="background-color: skyblue;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">



            <section class="posts-section col">
                <div class="bg-light py-2 px-3 shadow">
                    <h1>Welcome to PicMe!</h1>
                    <p class="text-muted">Please add to our community</p>
                    {{> post-info post}}

                </div>
            </section>


        </div>

    </div>
    </div>
</section>


<script src="/javascript/add-post.js"></script>

