
<!-- Homepage displays page once logged in -->

<!-- Displays user-profile section -->

 {{>user-profilecard}}   

<!-- Homepage Posts Feed -->


<div class="container-fluid justify-center mt-4">
<ul class="post-list">
    {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ul>

</div>