<!-- Homepage displays page once logged in -->

<!-- Displays user-profile section -->

{{>user-profilecard}}

<!-- Homepage Posts Feed -->


<div class="container mx-auto mt-4" style="width: 75%">
  <div class="post-list">
    {{#each posts as |post|}}
    <div>
      {{> post-info post}}
    </div>
    {{/each}}
  </div>

</div>