
<!-- Homepage displays page once logged in -->

<!-- Displays user-profile section -->

 {{>user-profilecard}}   
<!-- Homepage Posts Feed -->

<section class="row container-fluid"

<ul class="post-list">
    {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ul>

</section>