<main class="px-3">
    <h1>PicMe.</h1>
    <p class="lead">PicMe. A new community for photography</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>