<!-- Learn more section -->
<div class="px-3">
    <h1>HELLO.</h1>
    <p class="lead"> Welcome to a new community for photography!</p>
    <p class="lead">
        PicMe is the place for photographers and clients to connect to build new relationships and strengthen exisiting
        ones.
    </p>
    <p class="lead">
        We like to think of our community as a place where you can share ideas, collaborate with others, or learn about
        the latest news regarding the industry.
    </p>
    <p class="lead">
        Creating an account is completely free, so why not see what business you can stir up?
    </p>

    <!-- SignUp form section -->
    <form class="signup-form mt-4">
        <h3 class="fw-bold">New? Join Us!</h3>
        <div>
            <label for="username-signup"></label>
            <input type="text" placeholder="username" id="username-signup" class="mt-2" />
        </div>
        <div>
            <label for="email-signup"></label>
            <input type="text" placeholder="email" id="email-signup" class="mt-2" />
        </div>
        <div>
            <label for="password-signup"></label>
            <input type="password" placeholder="password" id="password-signup" class="mt-2" />
        </div>

        <div>
            <button type="submit" class="px-3 mt-4 fw-bold">signup</button>
        </div>
    </form>
</div>

<!-- Logic for page -->
<script src="/javascript/signup.js"></script>