<!-- This is your profile page when you click on the Profile Link -->
    

<!-- User Profile Info Section-->
            <section class="user-profile p-3 mb-2 profile-info .bg-secondary">
            <div>
                <h2 class=" secondary-header text-center"> User Info </h2>

                <form class="edit-user-form">
                    <div class="form-group row p-3 mb-2">
                      <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Username:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="username" value={{user.username}}>
                      </div>
                    </div>
                    <div class="form-group row p-3 mb-2">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="email" value={{user.email}}>
                        </div>
                      </div>
                      <div class="form-group row p-3 mb-2">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Bio</label>
                        <div class="col-sm-10">
                          <input type="input" name="user-bio" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Bio" value={{user.bio}}>
                        </div>
                      </div>
                      <div class="form-group row p-3 mb-2 ">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Website:</label>
                        <div class="col-sm-10">
                          <input type="text" name="user-website" class="form-control form-control-sm" id="colFormLabelSm" placeholder="website url" value={{user.website}}>
                        </div>
                      </div>

                      <button type="submit" class="btn">Update Profile</button>
                  </form>
              </div>
            </section>


{{#if loggedIn}}
<script src="/javascript/edit-user.js"></script>
{{!-- <script src="/javascript/add-post.js"></script> --}}
{{/if}}