<!-- This is your profile page -->

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light shadow sticky-top" style="background-color: skyblue;">
        <div class="container">
            <a class="navbar-brand text-light" href="#">PicMe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">

                        <a class="nav-link text-light" href="./add-post"><i class="fa-regular fa-square-plus"></i> Add
                            Post <span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item">

                        <a class="nav-link text-light" href="./profile"><i class="fa-solid fa-house-user"></i>
                            Profile</a>

                    </li>
                    <li class="nav-item">

                        <a class="nav-link text-light" href="#">Logout</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

<!-- User Profile Info Section-->
            <section class="user-profile p-3 mb-2 profile-info .bg-secondary">
            <div>
                <h2 class="secondary-header text-center"> User Info </h2>

                <form>
                    <div class="form-group row p-3 mb-2">
                      <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Username:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="username" value="{{user.username}}">
                      </div>
                    </div>
                    <div class="form-group row p-3 mb-2">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="email" value="{{user.email}}">
                        </div>
                      </div>
                      <div class="form-group row p-3 mb-2">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Bio</label>
                        <div class="col-sm-10">
                          <input type="text-area" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Bio" value="{{user.bio}}">
                        </div>
                      </div>
                      <div class="form-group row p-3 mb-2 ">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Website:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="website url" value="{{user.website}}">
                        </div>
                      </div>
                  </form>
              </div>
            </section>


{{#if loggedIn}}
<script src="/javascript/edit-user.js"></script>
{{/if}}