<body>
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Hello!</h2>
                    <p>Thank you for joining the fun.</p>
                </div>
            </div>
            <div class="col-right">
                <div class="signup-form">
                    <h2>Login</h2>
                    <form >
                        <div>
                            <label for="username-signup">Username<span>*</span></label>
                            <input type="text" id="username-signup" placeholder=" Username" required>
                        </div>
                        <div>
                            <label for="email-signup">Email address<span>*</span></label>
                            <input type="text" id="email-signup" placeholder=" Email" required>
                        </div>

                        <div>
                            <label>Password<span>*</span></label>
                            <input type="password" id="password-signup" placeholder="Password" required>
                        </div>
                        <div>
                            <button type="submit">Sign-up and Login!</button>
                        </div> 

                    </form>
                </div>
            </div>

        </div>
    </div>
    <script src="/javascript/signup.js"></script>
</body>
</html>




















