<!-- Full Page Landing Login Content -->
    <section class="masthead d-flex" style="background-color: skyblue;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">


                <!-- This is the phone mockup -->
                <div class="col mt-5" style="background-color: skyblue;">

                    <img src="/assets/iphone.png" class="image-fluid" />
                </div>

                <!-- This is the Sign-up/Login form-->
                <div class="col wrapper login" style="background-color: skyblue;">
                    <div class="landing-form shadow">
                        <div class="col-left">
                            <div class="login-text">
                                <h2>Hello!</h2>
                                <p>Thank you for joining the fun.</p>
                            </div>
                        </div>

                        <div class="col-right">
                            <div class="signup-form">
                                <h2>Sign Up</h2>
                                <form >
                                    <div>
                                        <label for="username-signup">Username<span>*</span></label>
                                        <input type="text" id="username-signup" placeholder=" Username" required>
                                    </div>
                                    <div>
                                        <label for="email-signup">Email address<span>*</span></label>
                                        <input type="text" id="email-signup" placeholder=" Email" required>
                                    </div>
            
                                    <div>
                                        <label>Password<span>*</span></label>
                                        <input type="password" id="password-signup" placeholder="Password" required>
                                    </div>
                                    <div>
                                        <button type="submit">Sign-up and Login!</button>
                                    </div> 
            
                                </form>
                            </div>
                        </div>

        </div>
    </div>

   
    <script src="/javascript/signup.js"></script>





















